.home {
    padding: 30px;
    background-color: var(--main-background-color);
  }
  .home .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .home .text {
    color: white;
    padding-right: 30px;
  }
  .home .image img {
    width: 50vw;
    height: 75vh;
  }
  .home .text h1 {
    padding-bottom: 10px;
  }
  .home .text p {
    padding-bottom: 30px;
  }
  .home button.btn {
    background: #f75842;
    color: white;
    border: transparent;
  }
  .home button.btn:hover {
    background: transparent;
    border: 2px solid white;
    color: white;
  }
  /* end home section */

  /* start category section */
  .categories {
    background-color: #2e3267;
    padding-top: 45px;
    padding-bottom: 25px;
  }
  .categories .grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .categories .text {
    color: white;
    padding-right: 30px;
    margin: auto;
  }
  .categories .text h1 {
    padding-bottom: 10px;
  }
  .categories .text p {
    padding-bottom: 20px;
  }
  .categories button {
    background-color: white;
    border: transparent;
    color: var(--main-background-color);
  }
  .categories button:hover {
    background: transparent;
    border: 2px solid white;
  }
  .categories .category-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
    color: white;
  }
  .categories .category-box .category:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .categories .category-box .category {
    padding: 5px;
    background-color: #4248904d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
  }
  .categories_icons {
    background: var(--secondary-background-color);
    padding: 0.7rem;
    border-radius: 0.9rem;
  }
  .categories .category-box .category p {
    padding: 10px;
    margin: 1rem 0 3rem;
  }
  .categories .category-box .category h5 {
    padding-top: 1rem;
  }
  .category:nth-child(2) .categories_icons {
    background: #f75842;
  }
  .category:nth-child(3) .categories_icons {
    background: #00bf8e;
  }
  .category:nth-child(4) .categories_icons {
    background: #f7c94b;
  }
  .category:nth-child(5) .categories_icons {
    background: #00bf8e;
  }
  /* end category section */
  /* start popular course */
.courses {
    background-color: var(--main-background-color);
    padding-top: var(--main-padding-top);
  }
  .courses .text {
    font-size: 30px;
    padding-top: 15%;
  }
  .row {
    padding-top: 5%;
  }
  .card-body {
    background-color: var(--secondary-background-color);
    outline: 0;
  }
  .card-body:hover {
    background: var(--main-background-color);
    border: 1px solid var(--secondary-background-color);
    transition: all 0.3s ease-out;
  }
  .card-body h5 {
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .card-body p {
    padding-bottom: 1rem;
  }
  /* end popular course */
  /* start questions section */
  .question {
    background-color: var(--secondary-background-color);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3rem inset;
  }
  .questions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }
  .question .questions .block {
    background-color: #6c63ff;
    padding: 2rem;
    height: fit-content;
  }
  .question .questions .block i {
    color: white;
  }
  .question .questions .block p {
    color: white;
    padding: 1rem;
    font-weight: normal;
    display: none;
  }
  /* end questions section */